body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#img-central{
    width: 20rem;
    height: 20rem;
}

#hero{
    width: 800px;
    margin: 0 auto 70px;
}

#hero img{
    margin-bottom: 70px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 30px;
}

h1 span{
    font-weight: bold;
}


span {
    color: #9C5D8B;
    font-weight: bold;
}

p, .footer{
    color: #7d7987;
    font-size: 14px;
    line-height: 20px;
}

.footer a + a{
    padding-left: 25px;
}

.footer{
    margin-bottom: 30px;
}

.line{
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #494a5b83;
}

#selo{
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

}